
{{#entries}}
    <tr>
        <td> {{title}} </td>
        <td> {{date}} </td>
        <td> {{comment}} </td>
        <td class="btn-delete" onclick="Delete('{{_id}}', '{{user}}')"> <i class="fa fa-trash-o"></i> </td>
    </tr>
{{/entries}}

